.app{
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app__input{
  flex: 1;
}

.app__iconButton{
  flex: 0;
}