.listItem{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.listItem.done .listItem__title{
    text-decoration: line-through;
}

.listItem__count{
    border: 1px solid black;
    border-radius: 40%;
}